<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylehistorial.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="content">
        <form action="/historial" method="POST">
            <section>
                <div class="title">
                    <h2>Introducir palabras</h2>
                    <br>
                </div>
            </section>
            <section>
                <div class="places">
                    <div class="input">
                        <input type="text" name="español" placeholder="Agregue palabra en español" required>
                    </div>
                    <div class="input">
                        <input type="text" name="embera" placeholder="Agregue palabra en embera" required>
                    </div>
                    <div class="input">
                      <input type="text" name="wayuu" placeholder="Agregue palabra en wayuunaiky"required>
                    </div>
                </div>


                <br>
                <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="successModalLabel">Mensaje de éxito</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>{{ msge }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="submit">
                    <button type="submit">Guardar</button>
                </div>
  
                 
                </div>      
      
              </div>
            </section>
        </form>
        <table>
          <thead>
            <tr>
              <th>Español</th>
              <th>Embera</th>
              <th>Wayuu</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for resultado in resultado %}
            <tr>
              <td>{{ resultado[0] }}</td>
              <td>{{ resultado[1] }}</td>
              <td>{{ resultado[2] }}</td>
              <td>
                <a href="/eliminar/{{ resultado[3] }}">Eliminar</a>
                <a href="/editar/{{ resultado[3] }}">Editar</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      <form action="/table" method="post">
          <button type="submit">Mostrar palabras</button>
      </form>
    </div>
   
    {% if showModal %}
    <script>
        $(document).ready(function() {
            $('#successModal').modal('show');
    
            // Cerrar el modal después de 2 segundos
            setTimeout(function() {
              $('#successModal').modal('hide');
            }, 1000);
          });

    </script>
    {% endif %}


</body>
</html>