<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylehistorial.css">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <form action="/historial" method="POST">
            <section>
                <div class="title">
                    <h1>Introducir palabras</h1>
                </div>
            </section>
            <section>
                <div class="places">
                    <div class="input">
                        <input type="text" name="español" placeholder="Español">
                    </div>
                    <div class="input">
                        <input type="text" name="embera" placeholder="Embera">
                    </div>
                </div>
                <br>
                <div class="submit">
                    <button type="submit">Guardar</button>
                </div>
            </section>
        </form>
    </div>
   

</body>
</html>