<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylehistorial.css">
    <title>Document</title>
</head>
<body>
    <div class="title">
        <h1>
            Palabras registradas
        </h1>
    </div>
    <div class="content">

        <table>
            <thead>
                <tr>                    
                    <th>Palabra</th>
                </tr>
            </thead>
            <tbody>
                {% for palabra in data %}
                <tr>
                    <td>{{ palabra }}</td>                  
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    
    </div>
    <div class="content">

    </div>
    
</body>
</html>