<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Traductor</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"></script>
  </head>

  <body>
    
   
    <div class="traductor-container">
     
      <div class="traductorandconfig">
        <div class="traductor-title">
          <h1>Traductor</h1>
        </div>
        <div class="configpos">
          <figure>
            <img src="/static/src/usuario-de-perfil.svg" alt="usuario" data-enlace="/static/ingresar.html" id="btn-abrir">
          </figure>
         
        </div>     
      </div>    
      <div class="form-container">
            <form action="/" method="POST" id="translate-form" target="_self">
              <div class="inter">
              
              
              
              <div class="places">
                <div class="select">
                  <select name="trd" id="1">
                    <option value="0">Español</option>
                    <option value="1">Embera</option>
                    <option value="2">Wayuunaiki</option>
                  </select>
                  
                  <input type="text" id="input1" name="text1">
                </div>
                

                <div class="botones">
                  <div class="vacio"></div>
                  <div class="exchange">
                    <figure>
                      <img src="/static/src/120846.svg" alt="icono" onclick="cambiarIdiomas()">
                    </figure>
                  </div>
                  <div class="tecladomovil">
                    <div class="tecla">
                      <figure>
                        <img src="/static/src/keyboard_119981.svg" alt="teclado">
                      </figure>
                    </div>
                    
                  </div>
                 
                </div>
              

                
                <div class="select">
                  <select name="trd2" id="2">
                    <option value="0">Español</option>
                    <option value="1">Embera</option>
                    <option value="2">Wayuunaiki</option>
                  </select>
                  <input  type="text" id="input2" name="text2" readonly disabled>
                </div>
              
                </div>
              </div>
          

              <div class="teclado" id="mostrar-modal">
                <figure>
                  <img src="/static/src/keyboard_119981.svg" alt="teclado" >
                </figure>
                
              </div>

              <div class="but">
                <button type="submit" id="traducirBtn">Traducir</button>
              </div>

            

            </form>

      </div>
    </div>

     
    <div class="modalteclado">
      <div class="modal-contenidotecla">
        <div class="keyboard">
          <!-- Botones para cada letra del teclado virtual -->
          <div class="key" onclick="writeCharacter('A')">A</div>
          <div class="key" onclick="writeCharacter('B')">B</div>
          <div class="key" onclick="writeCharacter('C')">C</div>
          <div class="key" onclick="writeCharacter('D')">D</div>
          <div class="key" onclick="writeCharacter('E')">E</div>
          <div class="key" onclick="writeCharacter('F')">F</div>
          <div class="key" onclick="writeCharacter('G')">G</div>
          <div class="key" onclick="writeCharacter('H')">H</div>
          <div class="key" onclick="writeCharacter('I')">I</div>
          <div class="key" onclick="writeCharacter('J')">J</div>
          <div class="key" onclick="writeCharacter('K')">K</div>
          <div class="key" onclick="writeCharacter('L')">L</div>
          <div class="key" onclick="writeCharacter('M')">M</div>
          <div class="key" onclick="writeCharacter('N')">N</div>
          <div class="key" onclick="writeCharacter('O')">O</div>
          <div class="key" onclick="writeCharacter('P')">P</div>
          <div class="key" onclick="writeCharacter('Q')">Q</div>
          <div class="key" onclick="writeCharacter('R')">R</div>
          <div class="key" onclick="writeCharacter('S')">S</div>
          <div class="key" onclick="writeCharacter('T')">T</div>
          <div class="key" onclick="writeCharacter('U')">U</div>
          <div class="key" onclick="writeCharacter('V')">V</div>
          <div class="key" onclick="writeCharacter('W')">W</div>
          <div class="key" onclick="writeCharacter('X')">X</div>     
      
    </div>
       
      </div>
    </div>
      
    <div id="resultado"></div>

    <div id="mi-modal" class="modal">
        <div class="modal-contenido">
            
          <span class="modal-cerrar">&times;</span>
          <iframe id="mi-iframe">
            
          </iframe>
        </div>
      </div>
<script>
      $(document).ready(function() {
        $("#translate-form").submit(function(event) {
            event.preventDefault();
            $.ajax({
                url: "/",
                type: "POST",
                data: $("#translate-form").serialize(),
                success: function(response) {
                    $("#input2").val(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
      
      



      </script>

      <script>
        const botonModal = document.getElementById('mostrar-modal');
        const modalteclado = document.querySelector('.modalteclado');

  botonModal.addEventListener('click', function() {
  modalteclado.classList.add('mostrar');
});


      </script>
      <script>

function cambiarValoresSelect(select1, select2) {
  let temp = select1.value;
  select1.value = select2.value;
  select2.value = temp;
        }
  
    
function cambiarIdiomas() {

  
     // Obtener los valores actuales de los select

    const select1 = document.getElementById("1");
    const select2 = document.getElementById("2");

     //seleccionar el value actual de los select
   
    const value1 = select1.value;
    const value2 = select2.value;

    //intercambiar el value de los select

    select1.value = value2;
    select2.value = value1;
    
    console.log(value1)
    console.log(value2)
  


 
   
  



   //Intermabiar valores y textos cada select

    //let tempText = select1.options[select1.selectedIndex].text;

  
  //select1.options[select1.selectedIndex].text = select2.options[select2.selectedIndex].text;

  //select2.options[select2.selectedIndex].text = tempText;
  //console.log(tempText)
  


   //Actualizar el contenido de los input de entrada y salida

      // Obtener los valores de los inputs
      var input1Value = $("#input1").val();
      var input2Value = $("#input2").val();

       // Intercambiar los valores
       $("#input1").val(input2Value);
       $("#input2").val(input1Value);

      

}




  //MODAL DE LOGIN

const btnAbrir = document.getElementById('btn-abrir');
const modal = document.getElementById('mi-modal');
const modalCerrar = document.getElementsByClassName('modal-cerrar')[0];
const modalIframe = document.getElementById('mi-iframe');

btnAbrir.addEventListener('click', () => {
  const enlace = btnAbrir.getAttribute('data-enlace');
  modalIframe.setAttribute('src', enlace);
  modal.style.display = 'block';
});

modalCerrar.addEventListener('click', () => {
  modal.style.display = 'none';
});

window.addEventListener('click', (evento) => {
  if (evento.target == modal) {
    modal.style.display = 'none';
  }
});

    


      
    </script>
  </body>
</html>
